@page
@model ServiceHost.Areas.UserAreas.Pages.IndexModel
@{
}
@{
    ViewData["Title"] = "صفحه اصلی";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title"> درخواست وارده</h4>
    </div>
</div>

<!-- Start Widget -->

<!-- End row-->


 <!-- End row -->