@model MunicipalityManagement.Application.Contracts.Melk.CreateMelk
@{
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">
        ×
    </button>
    <h4 class="modal-title" dir="rtl">
        ایجاد عرصه ملک-کد نوسازی:
      
    </h4>
</div>

<form asp-page="./Index" asp-page-handler="Create"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <br />
                    <label class="control-label">کد  جدید</label>


                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Cnmantagheh" class="control-label">منطقه</label>
                    <input type="text" class="form-control" asp-for="Cnmantagheh" onchange="makeSlug('Name', 'Slug')">
                    <span asp-validation-for="Cnmantagheh" class="error"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Cnhozeh" class="control-label">ناحیه</label>
                    <input type="text" class="form-control" asp-for="Cnhozeh" onchange="makeSlug('Name', 'Slug')">
                    <span asp-validation-for="Cnhozeh" class="error"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Cnhozeh" class="control-label">محله</label>
                    <input type="text" class="form-control" asp-for="Cnhozeh" onchange="makeSlug('Name', 'Slug')">
                    <span asp-validation-for="Cnhozeh" class="error"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Cnblock" class="control-label">بلوک</label>
                    <input type="text" class="form-control" asp-for="Cnblock" onchange="makeSlug('Name', 'Slug')">
                    <span asp-validation-for="Cnblock" class="error"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Cnmelk" class="control-label">ملک</label>
                    <input type="text" class="form-control" asp-for="Cnmelk" onchange="makeSlug('Name', 'Slug')">
                    <span asp-validation-for="Cnmelk" class="error"></span>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <br />
                    <label class="control-label">کد  قدیم</label>


                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Cnmantaghehold" class="control-label">منطقه</label>
                    <input type="text" class="form-control" asp-for="Cnmantaghehold" onchange="makeSlug('Name', 'Slug')">
                    <span asp-validation-for="Cnmantaghehold" class="error"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Cnhozehold" class="control-label">حوزه</label>
                    <input type="text" class="form-control" asp-for="Cnhozehold" onchange="makeSlug('Name', 'Slug')">
                    <span asp-validation-for="Cnhozehold" class="error"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Cnblockold" class="control-label">بلوک</label>
                    <input type="text" class="form-control" asp-for="Cnblockold" onchange="makeSlug('Name', 'Slug')">
                    <span asp-validation-for="Cnblockold" class="error"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Cnmelkold" class="control-label">ملک</label>
                    <input type="text" class="form-control" asp-for="Cnmelkold" onchange="makeSlug('Name', 'Slug')">
                    <span asp-validation-for="Cnmelkold" class="error"></span>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">

                </div>
            </div>


        </div>

        <div class="modal-header">

        </div>
        <br />
      
        <div class="row">
                <div class="col-md-1">
                <div class="form-group">
                    <label class="control-label">  وضعیت   </label>

                </div>

            </div>

            <div class="col-md-11">
                <div class="form-group">
                    <label class="control-label col-md-3 col-xs-12"></label>
                    <label class="col-md-5 col-xs-6">
                        غیر فرسوده
                        <input type="radio" id="Gender" name="Gender" value="1" checked />
                    </label>
                    <label class="col-md-4 col-xs-6">
                        فرسوده
                        <input type="radio" id="Gender" name="Gender" value="2" />
                    </label>
                </div>
            </div>



        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Masahatsanad" class="control-label">مساحت سند</label>
                    <input type="text" class="form-control" asp-for="Masahatsanad">
                    <span asp-validation-for="Masahatsanad" class="error"></span>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="Idtypesanad" class="control-label">نوع سند</label>
                    <select class="form-control" asp-for="Idtypesanad"
                            asp-items='new SelectList(Model.ListBoxtypesanad, "Id", "Name")'>
                        <option value="0">انتخاب کنید </option>
                    </select>
                    <span asp-validation-for="Idtypesanad" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Address" class="control-label">آدرس ملک</label>
                    <input type="text" class="form-control" asp-for="Address">
                    <span asp-validation-for="Address" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">


            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="pelakfarei2" class="control-label">از فرعی</label>
                    <input type="text" class="form-control" asp-for="pelakfarei2" onchange="makeSlug('Name', 'Slug')">
                    <span asp-validation-for="pelakfarei2" class="error"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="pelakfarei1" class="control-label">فرعی</label>
                    <input type="text" class="form-control" asp-for="pelakfarei1" onchange="makeSlug('Name', 'Slug')">
                    <span asp-validation-for="pelakfarei1" class="error"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="pelakasli" class="control-label">اصلی</label>
                    <input type="text" class="form-control" asp-for="pelakasli" onchange="makeSlug('Name', 'Slug')">
                    <span asp-validation-for="pelakasli" class="error"></span>
                </div>
            </div>


            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="pelakasli" class="control-label">بخش ثبتی</label>
                    <input type="text" class="form-control" asp-for="pelakasli" onchange="makeSlug('Name', 'Slug')">
                    <span asp-validation-for="pelakasli" class="error"></span>
                </div>
            </div>

        </div>



        <div class="row">
            <div class="col-md-12">
                <div class="form-group no-margin">
                    <label asp-for="Tozihat" class="control-label">توضیحات</label>
                    <textarea class="form-control autogrow" asp-for="Tozihat" onchange="makeSlug('ShortDescription', 'MetaDescription')"
                              style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
                    <span asp-validation-for="Tozihat" class="error"></span>
                </div>
            </div>
        </div>

        
    </div>






    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">ثبت</button>
    </div>
</form>